Repository MeltStudio/melt-tsconfig: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn eslint --max-warnings=0 --fix

ci: add ci workflows and release config
  .github/workflows/_code_checks.yaml
  .github/workflows/_lint_commits.yaml
  .github/workflows/_sem_release.yaml
  .github/workflows/main.yaml
  .github/workflows/prs.yaml
  .npmrc
  .releaserc
  README.md
Due: prettier --write

chore: add keywords and files
  package.json
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  01437116e8ed305e1da087fe6fe56ab96852f32f
Due: none

fix: remove importsNotUsedAsValues in favor of verbatimModuleSyntax
  README.md
  configs/strict.json
  nextjs.json
  node16.json
  node18.json
  react-native.json
  react.json
Due: prettier --write

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a8f6c144385fa448c8271123fc080238cf40c929
Due: none

fix: disable verbatimModuleSyntax
  configs/strict.json
  nextjs.json
  node16.json
  node18.json
  react-native.json
  react.json
Due: prettier --write

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3b68137271e14a7e0ae75499cde442995b6f33b0
Due: none

feat: migrate to flat config, bump deps, add node20/22/24 presets
  .eslintrc
  .github/workflows/_code_checks.yaml
  .github/workflows/_lint_commits.yaml
  .github/workflows/_sem_release.yaml
  .github/workflows/prs.yaml
  README.md
  configs/node20.json
  configs/node22.json
  configs/node24.json
  eslint.config.js
  node20.json
  node22.json
  node24.json
  package.json
  scripts/generate.js
Due: prettier --write, yarn eslint --max-warnings=0 --fix

chore: add AGENTS.md
  AGENTS.md
Due: prettier --write

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  90d6d82363c465a75bdb0de11dfb97edd7f2b78a
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,hbs,html,mjml,css,scss,json,graphql,yml,yaml,md}
  yarn eslint --max-warnings=0 --fix: any of: **/*.js
